.container {
  background-color: #343a40;
  border-radius: 25px;
  padding: 20px;
  margin: 0;
}
a:hover{
  color:  #979a9a  !important;
}
h2{
  font-weight: bold !important;
  color: white;
  text-align: center;
  padding: 15px;
}
body{
  background-color: #17202a !important;
}
table,td,th{
  text-align: center !important;
  vertical-align: middle !important;
}
/*color for some table data*/
#ihm{
  background-color: #4a235a;
}
#dbd{
  background-color:  #641e16 ;
}
#aw{
  background-color:#145a32 ;
}
#rlan{
  background-color: #784212  ;
}
#so{
  background-color: #154360 ;
}
/*lista de tareas*/
ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #7f8c8d;
  font-size: 18px;
  transition: 0.2s;
  list-style: none;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background:  #5d6d7e;
}

ul li:hover {
  background: #283747;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 16px 14px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.task {
  background-color: #343a40;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.task:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.botonanadir {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.botonanadir:hover {
  background-color: #bbb;
}
