.container {
  background-color: #343a40;
  border-radius: 25px;
  padding: 20px;
  margin: 0;
}
a:hover{
  color:  #979a9a  !important;
}
h2{
  font-weight: bold !important;
  color: white;
  text-align: center;
  padding: 15px;
}
body{
  background-color: #17202a !important;
}
table,td,th{
  text-align: center !important;
  vertical-align: middle !important;
}
/*color for some table data*/
#ihm{
  background-color: #4a235a;
}
#dbd{
  background-color:  #641e16 ;
}
#aw{
  background-color:#145a32 ;
}
#rlan{
  background-color: #784212  ;
}
#so{
  background-color: #154360 ;
}
/*lista de tareas*/
ul li{
  cursor: pointer;
  background: #eee;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*cambia el color de la tarea cuando se selecciona*/
ul li.checked {
  background: #343a40;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before{
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}
.close:hover{
  background-color: #f44336;
  color: white;
}
#tareas{
  background-color: #343a40;
  padding: 30px 40px;
  color: white;
  text-align: center
}
#tareas:after {
  content: "";
  display: table;
  clear: both;
}
input{
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 15px;
  float: left;
  font-size: 16px;
}
.newbtn{
  padding: 15px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.newbtn:hover{
  background-color: #bbb;
}
